<% title "Games" %>
<div id=scenario_list>
<% for scenario in @scenarios %>
      <div id = <%=scenario.id%>, style="border : none; background-color : #cccccc; margin : 15px;">
      <p> <%= link_to scenario.name, scenario%></p>
  Description  <%=scenario.description %>
    Created By <%=scenario.created_by %>
      </div>
<% end %>
  </div>
<% if current_user != nil %>
<p><%= link_to "New Scenario", new_scenario_path %></p>
<% end %>