-title "Games"
#scenario_list
  -for scenario in @scenarios
    #scenario{:scenario => "scenario#{scenario.id}"}
      #name
        =link_to scenario.name, scenario
      #description
        %p= "Description  #{scenario.description}"
      #created_by
        = "Created By #{scenario.created_by}"
-if current_user != nil
  =link_to "New Scenario", new_scenario_path

