-title "Games"
#scenario_list
  -for scenario in @scenarios
    #scenario{:scenario => "scenario#{scenario.id}"}
      #EntryType
        -if scenario.EntryType == true
          [Open Padlock IMG]
        -else
          [Closed Padlock IMG]
      #GameName
        =link_to scenario.GameName, scenario
      #GameDescription
        %p= "Description  #{scenario.GameDescription}"
      #created_by
        = "Created By #{scenario.created_by}"
-if current_user != nil
  =link_to "New Scenario", new_scenario_path

